@charset "utf-8";

#footer{
  width:100%;
  height:40%;
  line-height:3.5em;
  text-align: center;
  margin:0 auto;
  padding:3% 0;
}
.footer_list{
  width:60%;
  height:2em;
  margin:0 auto;
  margin-top:5%;
}
.footer_list li{
  width:31%;
  height:100%;
  margin-left:2%;
  border:1px solid #999999;
  float:left;
  line-height: 2em;
}
.footer_list li:first-child{
  margin-left:0;
}
.footer_list li a{
  width:100%;
  height:100%;
  display: inline-block;
  color:#999999;
  font-size:0.875em;
}
.copyright{
  width:80%;
  margin:0 auto;
  margin-top:1%;
}
.copyright a{
  font-weight: normal;
  font-size:1em;
  color:#999999;
  text-align: center;
}














.
