@charset "utf-8";

/*booking_navi*/
#selected_movie{
  width:100%;
  height:20%;
  background:#333333;
  text-align: center;
  color: #ffffff;
  padding:5% 0;
  line-height:2em;
}
#selected_movie h2{
  font-size:1.25em;
}
#selected_movie p{
  font-size:1em;
}
#container{
  width:100%;
  height:100%;
  background-color: #ffffff;
}
#seat{
  width:90%;
  height:60%;
  margin:0 auto;
}
.screen_box{
  width:80%;
  height:10%;
  margin:0 auto;
  text-align: center;
  background:url(../images/seating/screen.png) no-repeat center top;
  background-size: 100%;
}
.seat_box{
  width:auto;
  height:auto;
  margin:0 auto;
  text-align: center;
}
.screen_area{
  width:90%;
  margin:0 auto;
}
.S0{
  margin-top:10%;
}
.seat_tit{
  width:2%;
  height:2%;
  display: inline-block;
  margin-left:-1.5em;
  margin-right:0.5em;
  margin-bottom:1em;
  color:#666666;
}
.screen_area a{
  width:1.8em;
  height:1.8em;
  line-height: 1.5em;
  margin:0.2em;
  display: inline-block;
  background-color:#3ab396;
  border:2px solid #3ab396;
  border-radius:0.4em;
  text-align: center;
  color:#ffffff;
  box-sizing: border-box;
}
.screen_area a.available{
  background-color:#3ab396;
  border:2px solid #3ab396;
}
.screen_area a.no-select{
  background-color: #666666;
  border:2px solid #666666;
  color:#666666;
}
.screen_area a.selected{
  height:2em;
  background-color: #ffffff;
  color:#3ab396;
  font-weight:bold;
}
.seat_info{
  width:100%;
  height:3em;
  margin:0 auto;
  margin-top:1em;
  margin-bottom:2em;
  text-align: center;
}
.seat_info li{
  width:auto;
  display: inline;
  line-height: 3em;
  text-align: center;
  margin-left:0.5em;
}
.seat_info li span{
  width:1.5em;
  height:1.5em;
  display:inline-block;
  box-sizing: border-box;
  border:2px solid #3ab396;
  background-color: #3ab396;
  border-radius:0.4em;
  vertical-align: middle;
  margin-right:0.5em;
}
.seat_info .selected{
  background-color: #ffffff;
}
.seat_info .no-select{
  background-color: #666666;
  border:2px solid #666666;
}
#confirm{
  width:90%;
  height:30%;
  padding:5%;
  background-color:#3ab396;
  color:#ffffff;
}
.sel_list{
  width:50%;
  float:left;
  font-size: 1em;
  line-height: 2em;
}
.sel_price{
  width:50%;
  float:right;
  text-align: right;
  font-size:1.125em;
  line-height: 2em;
}
.price{
  font-size:1.25em;
}
.payment_btn{
  clear: both;
  width:100%;
  height:2.5em;
  margin-top:5%;
  text-align: center;
  line-height:2.5em;
  font-size:1.5em;
  display:inline-block;
  background-color: #ffffff;
  color:#2b8a73;
}

















.top{

}
