@charset "utf-8";
@import url("top.css");
@import url("bottom.css");
@import url("movie.css");


/*해상도 1200이상*/
@media screen and ( min-width:1200px ){
	.box_block{
		overflow:hidden;
		clear:both;
		width:1200px;
		margin:0 auto;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:10px;
		margin-right:10px;
	}

	.block1{
		width:80px;
	}
	.block2{
		width:180px;
	}
	.block3{
		width:280px;
	}
	.block4{
		width:380px;
	}
	.block5{
		width:480px;
	}
	.block6{
		width:580px;
	}
	.block7{
		width:680px;
	}
	.block8{
		width:780px;
	}
	.block9{
		width:880px;
	}
	.block10{
		width:980px;
	}
	.block11{
		width:1080px;
	}
	.block12{
		width:1180px;
	}

	/*layer*/
	#layer{
		width:100%;
		height:100%;
		background-color:#000000;
		position:fixed;
		left:0;
		top:0;
		opacity:0.75;
		filter:alpha(opacity=75);
		z-index:9998;
	}

	/*notice*/
	#notice{
		width:300px;
		height:400px;
		padding-top:30px;
		text-align:center;
		background-color:#ffffff;
		position:fixed;
		top:30%;
		left:40%;
		right:40%;
		z-index:9999;
		border-radius:50px;
	}
	#notice h4{
		color:#9966cc;
		font:bold 18px bonb,sans-serif;
		margin-bottom:20px;
	}
	#notice img{
		margin:10px 0;
	}
	.close_notice{
		width:120px;
		height:35px;
		border-radius:30px;
		color:#ffffff;
		display:block;
		line-height:35px;
		margin:0 auto;
		background:url(../images/main/notice_btn.png) no-repeat;
	}

	/*배너*/
	#banner{
		width:100%;
		height:730px;
		position:relative;
	}
	/*배너 GNB*/
	.banner_gnb p, .banner_gnb ul{
		position:absolute;
		z-index:10;
		top:47%;
	}
	.banner_gnb .banner_prev{
		left:100px;
	}
	.banner_gnb .banner_next{
		right:100px;
	}
	.banner_gnb .banner_btn{
		left:48%;
		top:90%;
	}
	.banner_btn li{
		float:left;
		background:url(../images/main/btn_off.png) no-repeat left center;
		width:10px;
		height:10px;
		overflow:hidden;
		margin-left:10px;
	}
	.banner_btn li:first-child{
		margin-left:0;
	}
	.banner_btn li.on{
		background-image:url(../images/btn_on.png);
	}
	.banner_btn li a{
		width:10px;
		height:10px;
		display:block;
		text-indent:-9999px;
	}

	/*배너 이미지*/
	.slider{
		width:100%;
		height:730px;
		margin:0 auto;
	}
	.m_slide1, .m_slide2, .m_slide3{
		width:100%;
		height:730px;
		color:#ffffff;
	}
	.m_slide1{
		background:url(../images/main/scroll_bg1.jpg) no-repeat center top #0ca38a;
		background-size: 100% auto;
	}
	.m_slide2{
		background:url(../images/main/scroll_bg2.jpg) no-repeat center top #0ca38a;
		background-size: 100% auto;
	}
	.m_slide3{
		background:url(../images/main/scroll_bg3.jpg) no-repeat center top #0ca38a;
		background-size: 100% auto;
	}
	.slider div h2{
		font-family:manl,sans-serif;
		font-size:30px;
		line-height:45px;
		padding-top:100px;

	}
	.slider .m_slide1 h2{
		background:url(../images/main/slide_logo2.png) no-repeat left top;
	}
	.slider .m_slide2 h2{
		background:url(../images/main/slide_logo1.png) no-repeat left top;
	}
	.slider .m_slide3 h2{
		background:url(../images/main/slide_logo3.png) no-repeat left top;
	}
	.slide_txt{
		width:1200px;
		height:600px;
		padding-top:200px;
		margin:0 auto;
		margin-left:15%;
	}
	.ban_txt{
		font-size:16px;
		margin-top:10px;
		color:#ffffff;
		padding-top:15px;
		background:url(../images/main/line2.png) no-repeat left top;
	}
	.ban_btn{
		width:180px;
		height:50px;
		margin-top:30px;
		background:url(../images/main/btn_bg.png) no-repeat;
	}
	.ban_btn a{
		width:180px;
		height:50px;
		display:block;
		line-height:50px;
		padding-left:40px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 120px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}
	.ban_btn a:hover{
		background-position:140px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}
	.swiper-button-next, .swiper-button-prev{
		top:40%;
	}


	/*캐릭터*/
	#program{
		width:1080px;
		height:450px;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	#program h2{
		width:188px;
		height:30px;
		margin:80px auto 80px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line1.png) no-repeat left 7px;
	}
	.pro_container{
		width: 100%;
		height: 220px;
		padding:0 30px;
    }
	.pro_wrap{
		width:900px;
	}
    #program .swiper-slide {
		text-align: center;
		font-size: 14px;
    }
	#program .swiper-slide{
		width:120px;
		height:170px;
	}
	#program .swiper-slide a{
		display:block;
		width:120px;
		height:120px;
		overflow:hidden;
		margin:0 auto;
	}
	#program .swiper-slide a:hover img{
		margin-top:-120px;
	}
	#program .swiper-slide span{
		display:inline;
	}

	/*편성표*/
	#schedule_block{
		background:url(../images/main/list_bg.jpg) no-repeat center top #25ad9f;
		height:730px;
	}
	#schedule h2{
		width:218px;
		height:30px;
		margin:80px auto 50px auto;
		text-align:center;
		font-size:23px;
		font-weight:normal;
		color:#ffffff;
		background:url(../images/main/name_line2.png) no-repeat left 7px;
	}
	#schedule_tb{
		width:1070px;
		height:520px;
		margin:0 auto;
		background-color:#ffffff;
		border:20px solid #abd6c3;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		text-indent:50px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb tr:hover{
		background-color:#eaeaea;
	}
	#schedule_tb td{
		height:60px;
		line-height:60px;
		cursor:pointer;
	}
	.sch1{
		width:15%;
		font-size:15px;
		font-weight:bold;
	}
	.sch2{
		width:40%;
		font-weight:bold;
		font-size:15px;
	}
	.sch3{
		width:30%;
		font-size:13px;
	}
	.sch4{
		width:15%;
		text-align:center;
		vertical-align:middle;
	}
	.sch4 a{
		width:55px;
		height:25px;
		margin:0 auto;
		display:block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		background-color:#3366cc;
	}
	.onair{
		background:#333333;
		color:#ffffff;
	}
	#schedule_tb tr.onair:hover{
		background:#202020;
	}
	.onair td:first-child{
		padding-right:120px;
		background:url(../images/main/onair.png) no-repeat right center;
	}


	/*인기 프로그램*/
	#best{
		width:100%;
		clear:both;
		height:560px;
		overflow:hidden;
	}
	#best h2{
		width:275px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat left 7px;
		text-align:center;
	}
	.best_con{
		width:100%;
		height:100%;
	}
	.best_wrap li{
		width:1200px;
		height:100%;
		float:left;
		margin:0 auto;
	}
	.best_wrap li .slide_on{
		width:400px;
		height:200px;
		float:left;
		margin:0 auto;
		color:#ffffff;
		margin-left:15%;
		margin-top:120px;
		text-align:left;
	}
	.slide_on h4{
		line-height:27px;
		font-size:24px;
		font-weight:normal;
		margin-bottom:25px;
		padding-left:35px;
		background:url(../images/main/rank1.png) no-repeat left center;
	}
	.slide_on p{
		padding-top:25px;
		background:url(../images/main/line2.png) no-repeat left top;
		color:#ffffff;
		margin-bottom:20px;
		font-size:15px;
		font-weight:normal;
	}
	.slide_on img{
		position:absolute;
		right:20px;
		bottom:20px;
	}
	.slide_on p.btn_bg{
		width:180px;
		height:50px;
		font-size:15px;
		background:url(../images/main/btn_bg.png) no-repeat;
		line-height:50px;
		border-radius:50px;
		padding-top:0;
	}
	.slide_on p.btn_bg a{
		width:180px;
		height:50px;
		display:block;
		padding-left:40px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 120px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}
	.slide_on p.btn_bg:hover a{
		background-position:140px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}

	.b_slide1{
		background:url(../images/main/best2_bg2.jpg) no-repeat center top;
		background-size: 100% auto;
	}
	.b_slide1 h4{
		background:url(../images/main/rank1.png) no-repeat left center;
	}
	.b_slide2{
		background:url(../images/main/best1_bg2.jpg) no-repeat center top;
		background-size: 100% auto;
	}
	.b_slide2 h4{
		background:url(../images/main/rank2.png) no-repeat left center;
	}
	.b_slide3{
		background:url(../images/main/best3_bg2.jpg) no-repeat center top;
		background-size: 100% auto;
	}
	.b_slide3 h4{
		background:url(../images/main/rank3.png) no-repeat left center;
	}
	.b_slide4{
		background:url(../images/main/best4_bg2.jpg) no-repeat center top;
		background-size: 100% auto;
	}
	.b_slide4 h4{
		background:url(../images/main/rank4.png) no-repeat left center;
	}
	.b_slide5{
		background:url(../images/main/best5_bg2.jpg) no-repeat center top;
		background-size: 100% auto;
	}
	.b_slide5 h4{
		background:url(../images/main/rank5.png) no-repeat left center;
	}

	/*인기 동영상*/
	#video_block{
		width:100%;
		height:730px;
		background-color:#eeeeee;
	}
	#video{
		width:1200px;
		height:730px;
	}
	#video h2{
		width:275px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat left 7px;
		text-align:center;
	}
	.video_img{
		width:280px;
		height:158px;
		position:relative;
		overflow:hidden;
		cursor:pointer;
	}
	.video_img em{
		width:280px;
		height:158px;
		position:absolute;
		left:0;
		top:0;
		text-indent:-9999px;
		background-color:#000000;
		opacity:0.4;
	}
	.video_img > img{
		width:280px;
		height:158px;
	}
	.video_btn{
		width:60px;
		height:60px;
		position:absolute;
		top:34%;
		left:40%;
		overflow:hidden;
	}
	.video_txt{
		width:280px;
		height:85px;
		padding:20px;
		margin-bottom:20px;
		background-color:#ffffff;
		cursor:pointer;
	}
	.video_txt h4{
		font-size:16px;
		float:left;
	}
	.video_txt h4 span{
		display:block;
		font-size:14px;
		font-weight:normal;
		margin-top:5px;
	}
	.video_txt p{
		float:right;
		padding-left:15px;
		background:url(../images/main/play_num.png) no-repeat left center;
		background-size:10px 10px;
	}

	/*카툰샵*/
	.cnshop_block{
		width:100%;
		height:369px;
		background:url(../images/main/shop_bg.png) no-repeat 10% center #ffcd02;
	}
	#cnshop{
		width:450px;
		height:200px;
		float:right;
		margin-top:98px;
	}

	#cnshop h4{
		width:400px;
		height:53px;
		font-size:28px;
		color:#000000;
		line-height:53px;
		background:url(../images/main/shop_logo.png) no-repeat left center;
		padding-left:180px;
		margin-bottom:20px;
	}
	.cnshop_txt{
		font-size:16px;
		color:#000000;
	}
	.cnshop_btn{
		width:180px;
		height:50px;
		margin-top:30px;
		background:url(../images/main/btn_bg.png) no-repeat;
	}
	.cnshop_btn a{
		width:180px;
		height:50px;
		display:block;
		padding-left:40px;
		color:#ffffff;
		font-size:16px;
		line-height:50px;
		background:url(../images/main/btn_go.png) no-repeat 120px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}
	.cnshop_btn:hover a{
		background-position:140px center;
		-webkit-transition:0.5s;
		-moz-transition:0.5s;
		-ms-transition:0.5s;
	}



}

/*해상도 768이상 1199이하*/
@media screen and ( min-width:768px ) and ( max-width:1199px ){
	*{
		color:#333333;
	}
	.box_block{
		overflow:hidden;
		clear:both;
		width:100%;
		margin:0 auto;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:2%;
	}
	.box_block [class*=block]:first-child{
		margin-left:0;
	}
	.block1{
		width:6.5%;/*(6.5*1)+(2*(1-1))*/
	}
	.block2{
		width:15%;
	}
	.block3{
		width:23.5%;
	}
	.block4{
		width:32%;
	}
	.block5{
		width:40.5%;
	}
	.block6{
		width:49%;
	}
	.block7{
		width:57.5%;
	}
	.block8{
		width:66%;
	}
	.block9{
		width:74.5%;
	}
	.block10{
		width:83%;
	}
	.block11{
		width:91.5%;
	}
	.block12{
		width:100%;
	}

	/*layer*/
	#layer{
		width:100%;
		height:100%;
		background-color:#000000;
		position:fixed;
		left:0;
		top:0;
		opacity:0.75;
		filter:alpha(opacity=75);
		z-index:9998;
	}

	/*notice*/
	#notice{
		width:300px;
		height:400px;
		padding-top:30px;
		text-align:center;
		background-color:#ffffff;
		position:fixed;
		top:30%;
		left:32%;
		right:32%;
		margin:0 auto;
		z-index:9999;
		border-radius:50px;
	}
	#notice h4{
		color:#9966cc;
		font:bold 18px bonb,sans-serif;
		margin-bottom:20px;
	}
	#notice img{
		margin:10px 0;
	}
	.close_notice{
		width:120px;
		height:35px;
		border-radius:30px;
		color:#ffffff;
		display:block;
		line-height:35px;
		margin:0 auto;
		background:url(../images/main/notice_btn.png) no-repeat;
	}

	/*배너*/
	#banner{
		width:100%;
		height:730px;
		position:relative;
	}
	/*배너 GNB*/
	.bx-wrapper .bx-next{
		display:none;
	}
	.bx-wrapper .bx-prev{
		display:none;
	}

	/*배너 이미지*/
	.slider{
		width:100%;
		height:600px;
		margin:0 auto;
	}
	.m_slide1, .m_slide2, .m_slide3{
		width:100%;
		height:600px;
		color:#ffffff;
		background:url(../images/main/scroll_bg1.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.m_slide2{
		background:url(../images/main/scroll_bg2.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.m_slide3{
		background:url(../images/main/scroll_bg3.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.slider div h2{
		font-family:manl,sans-serif;
		font-size:30px;
		line-height:45px;
		padding-top:100px;
		background:url(../images/main/slide_logo2.png) no-repeat left top;
	}
	.slide_txt{
		width:1200px;
		height:600px;
		padding-top:180px;
		margin:0 auto;
		margin-left:10%;
	}
	.slide_txt h2{
		color:#ffffff;
	}
	.ban_txt{
		font-size:16px;
		margin-top:10px;
		color:#ffffff;
		padding-top:15px;
		background:url(../images/main/line2.png) no-repeat left top;
	}
	.ban_btn{
		width:180px;
		height:50px;
		margin-top:20px;
		background:url(../images/main/btn_bg.png) no-repeat left;
		background-size:150px 42px;
	}
	.ban_btn a{
		width:180px;
		height:50px;
		display:block;
		line-height:50px;
		padding-left:40px;
		font-size:12px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 110px center;
	}

	/*캐릭터*/
	#program{
		width:90%;
		height:400px;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	#program h2{
		width:188px;
		height:30px;
		margin:80px auto 80px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line1.png) no-repeat left 7px;
	}
	.pro_container{
		width: 100%;
		height: 220px;
		padding:0 30px;
    }
	.pro_wrap{
		width:900px;
	}
    #program .swiper-slide {
		text-align: center;
		font-size: 14px;
    }
	#program .swiper-slide{
		width:120px;
		height:170px;
	}
	#program .swiper-slide a{
		display:block;
		width:120px;
		height:120px;
		overflow:hidden;
		margin:0 auto;
	}
	#program .swiper-slide span{
		display:inline;
	}
	.pro_next, .pro_prev{
		top:40%;
	}

	/*편성표*/
	#schedule_block{
		width:100%;
		height:730px;
		background:url(../images/main/list_bg2.jpg) no-repeat center top #25ad9f;
	}
	#schedule h2{
		width:218px;
		height:30px;
		margin:80px auto 50px auto;
		text-align:center;
		font-size:23px;
		font-weight:normal;
		color:#ffffff;
		background:url(../images/main/name_line2.png) no-repeat left 7px;
	}
	#schedule_tb{
		width:95%;
		height:520px;
		margin:0 auto;
		background-color:#ffffff;
		border:20px solid #abd6c3;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb td{
		height:60px;
		line-height:60px;
		cursor:pointer;
	}
	.sch1{
		width:13%;
		font-size:15px;
		font-weight:bold;
		text-align:center;
	}
	.sch2{
		width:30%;
		font-weight:bold;
		font-size:15px;
		text-indent:20px;
	}
	.sch3{
		width:35%;
		font-size:14px;
		text-indent:20px;
	}
	.sch4{
		width:15%;
		text-align:center;
		vertical-align:middle;
	}
	.sch4 a{
		width:55px;
		height:25px;
		display:inline-block;
		vertical-align:middle;
		background:#666666;
		border-radius:30px;
		line-height:25px;
		color:#ffffff;
		font-size:12px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		background-color:#3366cc;
	}
	#schedule_tb tr.onair{
		background:#333333;
	}
	#schedule_tb tr.onair td{
		color:#ffffff;
	}

	/*인기 프로그램*/
	.best_box{
		width:100%;
		height:auto;
	}
	#best{
		width:100%;
		height:auto;
	}
	#best h2{
		width:275px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat left 7px;
		text-align:center;
	}
	.best_con{
		width:100%;
		height:auto;
	}
	.best_wrap{
		width:100%;
		height:auto;
	}
	.best_wrap li{
		width:100%;
		height:45%;
	}
	.best_wrap li .slide_on{
		width:400px;
		height:200px;
		float:left;
		color:#ffffff;
		margin-left:15%;
		margin-top:80px;
		text-align:left;
	}
	.slide_on h4{
		color:#ffffff;
		line-height:27px;
		font-size:24px;
		font-weight:normal;
		margin-bottom:25px;
		padding-left:35px;
		background:url(../images/main/rank1.png) no-repeat left center;
	}
	.slide_on p{
		color:#ffffff;
		padding-top:25px;
		background:url(../images/main/line2.png) no-repeat left top;
		color:#ffffff;
		margin-bottom:20px;
		font-size:15px;
		font-weight:normal;
	}
	.slide_on p span{
		color:#ffffff;
	}
	.slide_on p.btn_bg{
		width:180px;
		height:50px;
		font-size:15px;
		background:url(../images/main/btn_bg.png) no-repeat;
		line-height:50px;
		border-radius:50px;
		padding-top:0;
	}
	.slide_on p.btn_bg a{
		width:180px;
		height:50px;
		display:block;
		padding-left:40px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 120px center;
	}

	.b_slide1{
		background:url(../images/main/best2_bg2.jpg) no-repeat 90% top;
		background-size:auto 100%;
	}
	.b_slide1 h4{
		background:url(../images/main/rank1.png) no-repeat left center;
	}
	.b_slide2{
		background:url(../images/main/best1_bg2.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide2 h4{
		background:url(../images/main/rank2.png) no-repeat left center;
	}
	.b_slide3{
		background:url(../images/main/best3_bg2.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide3 h4{
		background:url(../images/main/rank3.png) no-repeat left center;
	}
	.b_slide4{
		background:url(../images/main/best4_bg2.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide4 h4{
		background:url(../images/main/rank4.png) no-repeat left center;
	}
	.b_slide5{
		background:url(../images/main/best5_bg2.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide5 h4{
		background:url(../images/main/rank5.png) no-repeat left center;
	}

	/*인기 동영상*/
	#video_block{
		width:100%;
		height:auto;
		overflow:hidden;
		padding-bottom:30px;
		background-color:#eeeeee;
	}
	.video_block2{
		padding-bottom:50px;
	}
	#video{
		width:100%;
		height:auto;
	}
	#video h2{
		width:275px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat left 7px;
		text-align:center;
	}
	#video .block3{
		width:47%;
	}
	.video_img{
		width:100%;
		height:0;
		padding-bottom:55%;
		text-align:center;
		position:relative;
		overflow:hidden;
		cursor:pointer;
	}
	.video_img > img{
		width:100%;
		height:auto;
	}
	.video_img em{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		text-indent:-9999px;
		background-color:#000000;
		opacity:0.4;
	}
	.video_btn{
		width:60px;
		height:60px;
		position:absolute;
		top:34%;
		left:40%;
		overflow:hidden;
	}
	.video_btn img{
		width:60px;
		height:120px;
	}
	.video_txt{
		height:85px;
		padding:20px;
		margin-bottom:20px;
		background-color:#ffffff;
		cursor:pointer;
		border:1px solid #cccccc;
	}
	.video_txt h4{
		font-size:16px;
		float:left;
	}
	.video_txt h4 span{
		display:block;
		font-size:14px;
		font-weight:normal;
		margin-top:5px;
	}
	.video_txt p{
		float:right;
		padding-left:15px;
		background:url(../images/main/play_num.png) no-repeat left center;
		background-size:10px 10px;
	}

	/*카툰샵*/
	.cnshop_block{
		width:100%;
		height:400px;
		background:url(../images/main/shop_bg.png) no-repeat left 130px #ffcd02;
		background-size:600px 295px;
	}
	#cnshop{
		width:450px;
		height:200px;
		float:right;
		margin-top:70px;
		text-align:right;
		margin-right:4%;
	}

	#cnshop h4{
		font-size:24px;
		color:#000000;
		text-align:right;
		line-height:53px;
		background:url(../images/main/shop_logo.png) no-repeat 130px center;
		padding-left:180px;
		margin-bottom:20px;
	}
	.cnshop_txt{
		font-size:16px;
		line-height:24px;
		color:#000000;
	}
	.cnshop_btn{
		margin-top:20px;
		background:url(../images/main/btn_bg.png) no-repeat right;
		background-size:150px 42px;
	}
	.cnshop_btn a{
		display:block;
		margin-right:20px;
		padding-right:30px;
		color:#ffffff;
		font-size:12px;
		line-height:50px;
		background:url(../images/main/btn_go.png) no-repeat right center;
	}



}

/*해상도 767이하*/
@media all and ( max-width : 767px ){
	*{
		color:#333333;
	}
	.box_block{
		overflow:hidden;
		clear:both;
		width:100%;
		min-width:320px;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:2%;
	}
	.box_block [class*=block]:first-child{
		margin-left:0;
	}
	.block1{
		width:6.5%;/*(6.5*1)+(2*(1-1))*/
	}
	.block2{
		width:15%;
	}
	.block3{
		width:23.5%;
	}
	.block4{
		width:32%;
	}
	.block5{
		width:40.5%;
	}
	.block6{
		width:49%;
	}
	.block7{
		width:57.5%;
	}
	.block8{
		width:66%;
	}
	.block9{
		width:74.5%;
	}
	.block10{
		width:83%;
	}
	.block11{
		width:91.5%;
	}
	.block12{
		width:100%;
	}

	/*layer*/
	#layer{
		width:100%;
		height:100%;
		background-color:#000000;
		position:fixed;
		left:0;
		top:0;
		opacity:0.75;
		filter:alpha(opacity=75);
		z-index:9998;
	}

	/*notice*/
	#notice{
		width:100%;
		height:100%;
		position:fixed;
		top:25%;
		z-index:9999;
	}
	.notice_wrap{
		width:80%;
		max-width:300px;
		height:auto;
		overflow:hidden;
		padding-top:30px;
		text-align:center;
		background-color:#ffffff;
		margin:0 auto;
		border-radius:50px;
	}
	#notice h4{
		color:#9966cc;
		font:bold 18px bonb,sans-serif;
		margin-bottom:20px;
	}
	#notice img{
		margin:10px 0;
	}
	.close_notice{
		width:120px;
		height:35px;
		border-radius:30px;
		color:#ffffff;
		display:block;
		line-height:35px;
		margin:0 auto;
		background:url(../images/main/notice_btn.png) no-repeat;
		margin-bottom:30px;
	}


	/*배너*/
	#banner{
		width:100%;
		height:730px;
		position:relative;
	}
	/*배너 GNB*/
	.bx-wrapper .bx-next{
		display:none;
	}
	.bx-wrapper .bx-prev{
		display:none;
	}

	/*배너 이미지*/
	.slider{
		width:100%;
		height:600px;
		margin:0 auto;
	}
	.m_slide1, .m_slide2, .m_slide3{
		width:100%;
		height:600px;
		color:#ffffff;
		background:url(../images/main/scroll_bg1.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.m_slide2{
		background:url(../images/main/scroll_bg2.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.m_slide3{
		background:url(../images/main/scroll_bg3.jpg) no-repeat center top #0ca38a;
		background-size:1375px 600px;
	}
	.slider div h2{
		font-family:manl,sans-serif;
		font-size:30px;
		line-height:45px;
		padding-top:280px;
		color:#ffffff;
	}
	.slider .m_slide1 h2{
		background:url(../images/main/slide_logo2.png) no-repeat left 190px;
		background-size:140px 79px;
	}
	.slider .m_slide2 h2{
		background:url(../images/main/slide_logo1.png) no-repeat left 190px;
		background-size:150px 86px;
	}
	.slider .m_slide3 h2{
		background:url(../images/main/slide_logo3.png) no-repeat left 200px;
		background-size:160px 69px;
	}
	.slide_txt{
		width:1200px;
		height:600px;
		padding-top:50px;
		margin:0 auto;
		margin-left:5%;
	}
	.ban_txt{
		font-size:16px;
		margin-top:10px;
		color:#ffffff;
	}
	.ban_btn{
		width:150px;
		height:50px;
		margin-top:20px;
		background:url(../images/main/btn_bg.png) no-repeat center;
		background-size:150px 42px;
	}
	.ban_btn a{
		width:150px;
		height:50px;
		display:block;
		line-height:50px;
		font-size:12px;
		text-indent:40px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 110px center;
	}

	/*캐릭터*/
	#program{
		width:96%;
		height:400px;
		margin:0 auto;
		text-align:center;
		position:relative;
	}
	#program h2{
		width:188px;
		height:30px;
		margin:80px auto 80px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line1.png) no-repeat left 7px;
	}
	.pro_container{
		width: 100%;
		height: 220px;
		padding:0 20px;
    }
	.pro_wrap{
		width:900px;
	}
    #program .swiper-slide {
		text-align: center;
		font-size: 14px;
    }
	#program .swiper-slide{
		width:120px;
		height:170px;
	}
	#program .swiper-slide a{
		display:block;
		width:100px;
		height:100px;
		overflow:hidden;
		margin:0 auto;
	}
	#program .swiper-slide a img{
		width:100px;
		height:200px;
	}
	#program .swiper-slide span{
		display:inline;
	}
	.pro_next, .pro_prev{
		top:40%;
	}

	/*편성표*/
	#schedule_block{
		width:100%;
		height:730px;
		background:url(../images/main/list_bg2.jpg) no-repeat center top #25ad9f;
		background-size:1200px 525px;
		background-position:center 30px;
	}
	#schedule h2{
		width:250px;
		height:30px;
		margin:80px auto 50px auto;
		text-align:center;
		font-size:24px;
		font-weight:normal;
		color:#ffffff;
		background:url(../images/main/name_line2.png) no-repeat center 7px;
	}
	#schedule_tb{
		width:95%;
		height:520px;
		margin:0 auto;
		background-color:#ffffff;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb td{
		height:60px;
		line-height:60px;
		cursor:pointer;
	}
	.sch1{
		width:13%;
		font-size:14px;
		font-weight:bold;
		text-align:center;
	}
	.sch2{
		width:45%;
		font-weight:bold;
		font-size:14px;
		text-indent:20px;
		font-weight:normal;
	}
	.sch3{
		display:none;
	}
	.sch4{
		width:15%;
		text-align:center;
		vertical-align:middle;
	}
	.sch4 a{
		width:50px;
		height:25px;
		display:inline-block;
		vertical-align:middle;
		background:#666666;
		border-radius:30px;
		line-height:25px;
		color:#ffffff;
		font-size:12px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		background-color:#3366cc;
	}
	#schedule_tb tr.onair{
		background:#333333;
		color:#ffffff;
	}
	#schedule_tb tr.onair td{
		color:#ffffff;
	}

	/*인기 프로그램*/
	.best_box{
		width:100%;
		height:auto;
	}
	#best{
		width:100%;
		height:auto;
	}
	#best h2{
		width:275px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:23px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat left 7px;
		text-align:center;
	}
	.best_con{
		width:100%;
		height:auto;
	}
	.best_wrap{
		width:100%;
		height:auto;
	}
	.best_wrap li{
		width:100%;
		height:300px;
	}
	.best_wrap li .slide_on{
		width:100%
		height:300px;
		color:#ffffff;
		text-align:center;
		margin-top:100px;
	}
	.slide_on h4{
		width:100%;
		color:#ffffff;
		line-height:27px;
		font-size:26px;
		font-weight:normal;
		margin-bottom:10px;
		padding-top:45px;
		background:url(../images/main/rank1.png) no-repeat center top;
	}
	.slide_on p{
		color:#ffffff;
		color:#ffffff;
		margin-bottom:20px;
		font-size:15px;
		font-weight:normal;
	}
	.slide_on p span{
		display:none;
	}
	.slide_on p.btn_bg{
		width:180px;
		height:50px;
		font-size:15px;
		background:url(../images/main/btn_bg.png) no-repeat center;
		line-height:50px;
		border-radius:50px;
		padding-top:0;
		margin:0 auto;
	}
	.slide_on p.btn_bg a{
		width:180px;
		height:50px;
		display:block;
		padding-right:20px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 130px center;
	}

	.b_slide1{
		background:url(../images/main/best2_bg3.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide1 h4{
		background:url(../images/main/rank1.png) no-repeat center top;
	}
	.b_slide2{
		background:url(../images/main/best1_bg3.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide2 h4{
		background:url(../images/main/rank2.png) no-repeat center top;
	}
	.b_slide3{
		background:url(../images/main/best3_bg3.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide3 h4{
		background:url(../images/main/rank3.png) no-repeat center top;
	}
	.b_slide4{
		background:url(../images/main/best4_bg3.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide4 h4{
		background:url(../images/main/rank4.png) no-repeat center top;
	}
	.b_slide5{
		background:url(../images/main/best5_bg3.jpg) no-repeat center top;
		background-size:auto 100%;
	}
	.b_slide5 h4{
		background:url(../images/main/rank5.png) no-repeat center top;
	}


	/*인기 동영상*/
	#video_block{
		width:100%;
		height:auto;
		background-color:#eeeeee;
	}
	.video_block2{
		padding-bottom:50px;
	}
	#video{
		width:98%;
		height:860px;
	}
	#video h2{
		width:300px;
		height:30px;
		margin:80px auto 50px auto;
		font-size:24px;
		font-weight:normal;
		background:url(../images/main/name_line3.png) no-repeat center 7px;
		text-align:center;
	}
	#video .block3{
		width:98%;
	}
	.video_img{
		width:100%;
		height:0;
		padding-bottom:55%;
		text-align:center;
		position:relative;
		overflow:hidden;
		cursor:pointer;
	}
	.video_img > img{
		width:100%;
		height:auto;
	}
	.video_img em{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
		text-indent:-9999px;
		background-color:#000000;
		opacity:0.4;
	}
	.video_btn{
		width:60px;
		height:60px;
		position:absolute;
		top:35%;
		left:42%;
		overflow:hidden;
	}
	.video_btn img{
		width:60px;
		height:120px;
	}
	.video_txt{
		width:100%;
		height:90px;
		padding:20px;
		margin-bottom:10px;
		background-color:#ffffff;
		cursor:pointer;
		border:1px solid #cccccc;
	}
	.video_txt h4{
		font-size:18px;
		float:left;

	}
	.video_txt h4 span{
		display:block;
		font-size:16px;
		font-weight:normal;
		margin-top:10px;
	}
	.video_txt p{
		float:right;
		font-size:14px;
		padding-left:25px;
		background:url(../images/main/play_num.png) no-repeat left center;
		background-size:15px 15px;
	}
	.block3_4{
		display:none;
	}


	/*카툰샵*/
	.cnshop_block{
		width:100%;
		height:520px;
		background:url(../images/main/shop_bg.png) no-repeat -40px 280px #ffcd02;
		background-size:500px 246px;
	}
	#cnshop{
		width:500px;
		height:200px;
		float:right;
		margin-top:70px;
		text-align:right;
		margin-right:5%;
	}

	#cnshop h4{
		font-size:24px;
		color:#000000;
		text-align:right;
		line-height:53px;
		background:url(../images/main/shop_logo.png) no-repeat 180px center;
		padding-left:240px;
		margin-bottom:10px;
	}
	.cnshop_txt{
		font-size:14px;
		line-height:20px;
		color:#000000;
	}
	.cnshop_btn{
		width:180px;
		height:50px;
		margin-top:20px;
		float:right;
		background:url(../images/main/btn_bg.png) no-repeat right;
		background-size:150px 42px;
	}
	.cnshop_btn a{
		width:150px;
		height:50px;
		display:block;
		float:right;
		line-height:50px;
		padding-right:50px;
		font-size:12px;
		color:#ffffff;
		background:url(../images/main/btn_go.png) no-repeat 110px center;
	}


}
