@charset "utf-8";
@import url("top.css");
@import url("bottom.css");


/*해상도 1200이상*/
@media screen and ( min-width:1200px ){
	.box_block{
		overflow:hidden;
		clear:both;
		width:1200px;
		margin:0 auto;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:10px;
		margin-right:10px;
	}

	.block1{
		width:80px;
	}
	.block2{
		width:180px;
	}
	.block3{
		width:280px;
	}
	.block4{
		width:380px;
	}
	.block5{
		width:480px;
	}
	.block6{
		width:580px;
	}
	.block7{
		width:680px;
	}
	.block8{
		width:780px;
	}
	.block9{
		width:880px;
	}
	.block10{
		width:980px;
	}
	.block11{
		width:1080px;
	}
	.block12{
		width:1180px;
	}


	/*배너*/
	.banner_box{
		width:100%;
		height:400px;
		background:url(../images/sch/main_bg.jpg) no-repeat center #464eb0;
	}
	#banner{
		width:1200px;
		height:400px;
		margin:0 auto;
	}
	.banner_txt{
		margin-top:130px;
		text-align:center;
		color:#ffffff;
	}
	.banner_txt h2{
		font-size:28px;
		padding-bottom:30px;
		background:url(../images/sch/line1_1.png) no-repeat center bottom;
	}
	.banner_txt p.ban_txt{
		padding-top:20px;
		font-size:16px;
		color:#ffffff;
	}
	/*날짜*/
	.banner_ul2{
		display:none;
	}
	.banner_txt ul{
		width:840px;
		height:50px;
		margin:0 auto;
		margin-top:90px;
	}
	.banner_txt ul li{
		width:60px;
		height:60px;
		margin:0 30px;
		padding-top:20px;
		float:left;
		opacity:0.4;
		cursor:pointer;
		font-size:14px;
		line-height:20px;
	}
	.banner_txt ul li span{
		font-size:20px;
	}
	.banner_txt ul li.ban_sel{
		opacity:1;
		background:url(../images/sch/dot.png) no-repeat center top;
	}

	/*아이콘 안내*/
	.sch_info{
		width:100%;
		height:70px;
		border-bottom:1px solid #cccccc;
	}
	.sch_info ul{
		width:1080px;
		height:70px;
		margin:0 auto;
	}
	.sch_info ul li{
		float:left;
		width:216px;
		height:70px;
		line-height:70px;
		text-align:center;
	}
	.sch_info ul li a{
		width:55px;
		height:25px;
		margin:0 auto;
		margin-right:10px;
		display:inline-block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch_info ul li a.sch4_1{
		background-color:#339966;
	}
	.sch_info ul li a.sch4_2{
		background-color:#ff9933;
	}
	.sch_info ul li a.sch4_3{
		background-color:#3366cc;
	}
	.sch_info ul li a.sch4_4{
		background-color:#a04ec2;
	}
	.sch_info ul li a.sch4_5{
		background-color:#cc3333;
	}
	
	/*편성표*/
	#schedule_block{
		width:100%;
		height:auto;
		padding:30px 0;
		background:#f1f1f1;
	}
	#schedule_tb{
		width:1080px;
		height:auto;
		margin:0 auto;
		background-color:#ffffff;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		text-indent:50px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb tr:hover{
		background-color:#eaeaea;
	}
	#schedule_tb td{
		height:60px;
		line-height:60px;
		cursor:pointer;
	}
	.sch1{
		width:15%;
		font-size:15px;
		font-weight:bold;
	}
	.sch2{
		width:40%;
		font-weight:bold;
		font-size:15px;
	}
	.sch_span{
		display:none;
	}
	.sch3{
		width:30%;
		font-size:13px;
	}
	.sch4{
		width:15%;
		text-align:center;
		vertical-align:middle;
	}
	.sch4 a{
		width:55px;
		height:25px;
		margin:0 auto;
		display:block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		background-color:#3366cc;
	}
	.sch4 a.sch4_4{
		background-color:#a04ec2;
	}
	.sch4 a.sch4_5{
		background-color:#cc3333;
	}

	.onair{
		background:#333333;
		color:#ffffff;
	}
	#schedule_tb tr.onair:hover{
		background:#202020;
	}
	.onair td:first-child{
		padding-right:120px;
		background:url(../images/main/onair.png) no-repeat right center;
	}	

	


}

/*해상도 768이상 1199이하*/
@media screen and ( min-width:768px ) and ( max-width:1199px ){
	.box_block{
		overflow:hidden;
		clear:both;
		width:100%;
		margin:0 auto;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:2%;
	}
	.box_block [class*=block]:first-child{
		margin-left:0;
	}
	.block1{
		width:6.5%;/*(6.5*1)+(2*(1-1))*/
	}
	.block2{
		width:15%;
	}
	.block3{
		width:23.5%;
	}
	.block4{
		width:32%;
	}
	.block5{
		width:40.5%;
	}
	.block6{
		width:49%;
	}
	.block7{
		width:57.5%;
	}
	.block8{
		width:66%;
	}
	.block9{
		width:74.5%;
	}
	.block10{
		width:83%;
	}
	.block11{
		width:91.5%;
	}
	.block12{
		width:100%;
	}	

	/*배너*/
	.banner_box{
		width:100%;
		height:350px;
		background:url(../images/sch/main_bg.jpg) no-repeat center #464eb0;
	}
	#banner{
		width:100%;
		height:350px;
		margin:0 auto;
	}
	.banner_txt{
		margin-top:100px;
		text-align:center;
		color:#ffffff;
	}
	.banner_txt h2{
		color:#ffffff;
		font-size:28px;
		padding-bottom:30px;
		background:url(../images/sch/line1_1.png) no-repeat center bottom;
	}
	.banner_txt p.ban_txt{
		padding-top:20px;
		font-size:16px;
		color:#ffffff;
	}
	/*날짜*/
	.banner_ul2{
		display:none;
	}
	.banner_txt ul{
		width:90%;
		height:50px;
		margin:0 auto;
		margin-top:60px;
	}
	.banner_txt ul li{
		width:14.2%;
		height:60px;
		padding-top:20px;
		float:left;
		opacity:0.4;
		cursor:pointer;
		font-size:14px;
		line-height:24px;
		color:#ffffff;
	}
	.banner_txt ul li span{
		font-size:20px;
		color:#ffffff;
	}
	.banner_txt ul li.ban_sel{
		opacity:1;
		background:url(../images/sch/dot.png) no-repeat center top;
	}

	/*아이콘 안내*/
	.sch_info{
		width:100%;
		height:100px;
		border-bottom:1px solid #cccccc;
	}
	.sch_info ul{
		width:90%;
		height:100px;
		margin:0 auto;
	}
	.sch_info ul li{
		float:left;
		width:20%;
		height:80px;
		line-height:40px;
		padding-top:20px;
		text-align:center;
	}
	.sch_info ul li a{
		width:55px;
		height:25px;
		margin:0 auto;
		display:block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch_info ul li a.sch4_1{
		background-color:#339966;
	}
	.sch_info ul li a.sch4_2{
		background-color:#ff9933;
	}
	.sch_info ul li a.sch4_3{
		text-indent:18px;
		background-color:#3366cc;
	}
	.sch_info ul li a.sch4_4{
		background-color:#a04ec2;
	}
	.sch_info ul li a.sch4_5{
		background-color:#cc3333;
	}
	
	/*편성표*/
	#schedule_block{
		width:100%;
		height:auto;
		padding:30px 0;
		background:#eaeaea;
	}
	#schedule_tb{
		width:100%;
		height:auto;
		margin:0 auto;
		background-color:#ffffff;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		text-indent:50px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb td{
		height:60px;
		line-height:60px;
		cursor:pointer;
	}
	.sch1{
		width:10%;
		font-size:15px;
		font-weight:bold;
	}
	.sch2{
		width:30%;
		font-weight:bold;
		font-size:15px;
	}
	.sch_span{
		display:none;
	}
	.sch3{
		width:40%;
		font-size:14px;
	}
	.sch4{
		width:20%;
		text-align:center;
		vertical-align:middle;
	}
	.sch4 a{
		width:55px;
		height:25px;
		margin:0 auto;
		display:block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		text-indent:18px;
		background-color:#3366cc;
	}
	.sch4 a.sch4_4{
		background-color:#a04ec2;
	}
	.sch4 a.sch4_5{
		background-color:#cc3333;
	}

	#schedule_tb tr.onair{
		background:#333333;
	}
	#schedule_tb tr.onair td{
		color:#ffffff;
	}

}

/*해상도 767이하*/
@media all and ( max-width : 767px ){
	*{
		color:#333333;
	}
	.box_block{
		overflow:hidden;
		clear:both;
		width:100%;
		min-width:320px;
	}
	.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8, .block9, .block10, .block11, .block12{
		float:left;
		margin-left:2%;
	}
	.box_block [class*=block]:first-child{
		margin-left:0;
	}
	.block1{
		width:6.5%;/*(6.5*1)+(2*(1-1))*/
	}
	.block2{
		width:15%;
	}
	.block3{
		width:23.5%;
	}
	.block4{
		width:32%;
	}
	.block5{
		width:40.5%;
	}
	.block6{
		width:49%;
	}
	.block7{
		width:57.5%;
	}
	.block8{
		width:66%;
	}
	.block9{
		width:74.5%;
	}
	.block10{
		width:83%;
	}
	.block11{
		width:91.5%;
	}
	.block12{
		width:100%;
	}	

	/*배너*/
	.banner_box{
		width:100%;
		height:90px;
		background:url(../images/sch/main_bg.jpg) no-repeat center #464eb0;
	}
	#banner{
		width:100%;
		height:90px;
		margin:0 auto;
	}
	.banner_txt{
		text-align:center;
		color:#ffffff;
	}
	.banner_txt h2{
		display:none;
	}
	.banner_txt p.ban_txt{
		display:none;
	}
	/*날짜*/
	.banner_ul{
		display:none;
	}
	.banner_ul2{
		width:100%;
		height:65px;
		margin:0 auto;
		margin-top:10px;
	}
	.ban_1{
		width:20%;
		height:65px;
		padding-top:20px;
		float:left;
		opacity:0.4;
		cursor:pointer;
		font-size:14px;
		text-align:center;
		line-height:20px;
		color:#ffffff;
	}
	.ban_1 span{
		font-size:18px;
		color:#ffffff;
	}
	.ban_sel{
		opacity:1;
		background:url(../images/sch/dot.png) no-repeat center top;
	}

	/*아이콘 안내*/
	.sch_info{
		display:none;
	}
	
	/*편성표*/
	#schedule_block{
		width:100%;
		height:auto;
		padding:20px 0;
		background:#eaeaea;
	}
	#schedule_tb{
		width:100%;
		height:auto;
		margin:0 auto;
		background-color:#ffffff;
	}
	#schedule_tb caption{
		display:none;
	}
	#schedule_tb tr{
		height:60px;
		border-bottom:1px solid #cccccc;
	}
	#schedule_tb td{
		height:90px;
		line-height:26px;
		cursor:pointer;
		vertical-align:middle;
	}
	.sch1{
		width:15%;
		font-size:18px;
		font-weight:bold;
		padding-left:6%;
	}
	.sch2{
		width:60%;
		font-weight:bold;
		font-size:16px;
		padding-left:6%;
	}
	.sch_span{
		font-size:14px;
		font-weight:normal;
		color:#666666;
	}
	.sch3{
		display:none;
		width:40%;
		font-size:14px;
	}
	.sch4{
		width:10%;
		text-align:left;
		vertical-align:middle;
		padding-right:6%;
	}
	.sch4 a{
		width:55px;
		height:25px;
		display:block;
		border-radius:30px;
		color:#ffffff;
		font-size:13px;
		text-align:left;
		text-indent:15px;
		line-height:25px;
	}
	.sch4 a.sch4_1{
		background-color:#339966;
	}
	.sch4 a.sch4_2{
		background-color:#ff9933;
	}
	.sch4 a.sch4_3{
		text-indent:18px;
		background-color:#3366cc;
	}
	.sch4 a.sch4_4{
		background-color:#a04ec2;
	}
	.sch4 a.sch4_5{
		background-color:#cc3333;
	}

	#schedule_tb tr.onair{
		background:#333333;
	}
	#schedule_tb tr.onair td{
		color:#ffffff;
	}
	#schedule_tb tr.onair td span{
		color:#eaeaea;
	}
}