@charset "utf-8";

#bottom_wrap{
	text-align:center;
	width:100%;
	height:250px;
	background:url(../images/bottom/line.png) repeat-x left 60px #333333;
}
footer{
	width:850px;
	height:60px;
	margin:0 auto;
}
footer ul{
	width:850px;
	height:60px;
}
footer ul li{
	float:left;
	width:170px;
	text-align:center;
	line-height:60px;
}
footer ul li a{
	display:block;
	width:170px;
	height:60px;
	font-weight:bold;
	font-size:13px;
	color:#cccccc;
	background:url(../images/bottom/line3.png) no-repeat left center;
}
footer ul li:first-child a{
	color:#cc9966;
	background:none;
}
footer ul li a:hover{
	color:#cc9966;
}
.address_wrap{
	clear:both;
	width:820px;
	height:120px;
	margin:30px auto 0 auto;
}
.address_wrap h3{
	float:left;
	width:100px;
	height:91px;
	margin-top:15px;
	margin-left:30px;
}	
.address_wrap > address{
	font-style:normal;
	font-size:13px;
	color:#999999;
	margin-top:20px;
	text-align:left;
	padding-left:40px;
	width:650px;
	float:right;
}
.address_wrap address span{
	display:inline-block;
	margin-left:15px;
	padding-left:15px;
	background:url(../images/bottom/line2.png) no-repeat left center;
}
.address_wrap address .info_noline{
	background:none;
	margin:0px;
	padding:0px;
}
.address_wrap address strong{
	color:#666666;
	font-weight:normal;
	display:block;
	margin-top:20px;
}