@charset "utf-8";
@import url("top.css");
@import url("bottom.css");

/*reset*/
body{
	font:normal 14px/1.5em bond,sans-serif;
	color:#333333;
	background:#ffffff;
}
a{
	color:#333333;
}
input{
	font-family:bond,sans-serif;
}

/*font*/
@font-face{
		font-family:juna;
		src:url('../font/BMJUA_ttf.ttf');
}
@font-face{
		font-family:bond;
		src:url('../font/NotoSansCJKkr-DemiLight.otf');
}
@font-face{
		font-family:bonb;
		src:url('../font/NotoSansCJKkr-Medium.otf');
}

/*main_wrap*/
#main_wrap{
	width:100%;
	height:720px;
	background-color:#f9f6f1;
	position:relative;
	overflow:hidden;
}
#main{
	width:850px;
	margin:0 auto;
	text-align:center;
	padding-top:50px;
	opacity: 0;
}
#main h3{
	font-size:34px;
	color:#666666;
	line-height:45px;
	font-weight:normal;
	padding-bottom:85px;
	background:url(../images/intro/line1.png) no-repeat center 120px;
}
.name_eng{
	color:#e69e87;
	letter-spacing:2px;
	margin-bottom:10px;
}
.main_txt{
	font-size:14px;
	line-height:20px;
}
.main_txt strong{
	color:#333333;
	font-size:14px;
}
.intro_main_img{
	width:250px;
	height:281px;
	margin:0 auto;
	opacity: 0;
}
#main_back p{
	width:100%;
	height:720px;
	position:absolute;
	left:0;
	top:0;
	opacity: 0;
}
/*philo_wrap*/
#philo_wrap{
	width:100%;
	height:650px;
	background:url(../images/intro/philo_bg.jpg) no-repeat center fixed;
	background-size: 100% auto;
}
#philo{
	width:1200px;
	height:550px;
	text-align:center;
	margin:0 auto;
	padding-top:100px;
}
#philo h3{
	font-size:34px;
	color:#ffffff;
	line-height:45px;
	font-weight:normal;
	padding-bottom:40px;
	background:url(../images/intro/line1_1.png) no-repeat center bottom;
}
#fig_wrap{
	width:1200px;
	height:250px;
	margin-top:40px;
}
.fig{
	width:298px;
	height:210px;
	float:left;
	background:url(../images/intro/line3.png) no-repeat left 15px;
}
.fig1{
	background:none;
}
.fig figcaption{
	color:#e9e9e9;
	margin-top:30px;
}
.fig figcaption strong{
	font-size:16px;
	margin-bottom:15px;
	display:inline-block;
}

/*brand_wrap*/
#brand_wrap{
	width:auto;
	height:1900px;
	background-color:#f5f1f0;
}
#brand{
	width:1200px;
	height:1700px;
	text-align:center;
	margin:0 auto;
	padding-top:100px;
}
#brand h3{
	font-size:34px;
	color:#666666;
	line-height:45px;
	font-weight:normal;
	padding-bottom:40px;
	background:url(../images/intro/line1.png) no-repeat center bottom;
	margin-bottom:80px;
}
#br_wrap li{
	width:1200px;
	height:357px;
	margin-bottom:20px;
}
.br1_img, .br3_img{
	float:left;
}
.br2_img, .br4_img{
	float:right;
}
.br1, .br3{
	float:right;
	width:510px;
	height:300px;
	text-align:left;
	margin-top:57px;
	padding-left:50px;
}
.br2, .br4{
	float:left;
	width:510px;
	height:300px;
	text-align:right;
	margin-top:57px;
	padding-right:50px;
}

.txt1{
	color:#cc9966;
	letter-spacing:2px;
	margin-bottom:10px;
}
.txt2{
	font-size:25px;
	color:#333333;
	line-height:45px;
	font-weight:normal;
	padding-bottom:27px;
	background:url(../images/intro/line2.png) no-repeat left bottom;
	margin-bottom:30px;
}
.br2 .txt2, .br4 .txt2{
	background:url(../images/intro/line2.png) no-repeat right bottom;
}
.txt3{
	color:#333333;
	line-height:26px;
}
.txt2 strong{
	color:#333333;
}

/*world_wrap*/
#world_wrap{
	width:100%;
	height:720px;
	background:url(../images/intro/world_bg.jpg) no-repeat center #68513f;
	text-align:center;
}
#worle_slide{
	width:1200px;
	height:670px;
	margin:0 auto;
	text-align:center;
	padding-top:60px;
	color:#eaeaea;
	position:relative;
	overflow:hidden;
}
#world h3{
	color:#ffffff;
	font-size:34px;
	line-height:45px;
	font-weight:normal;
	padding-bottom:50px;
	background:url(../images/intro/line1_1.png) no-repeat center 55px;
	margin:0 auto;
}
.world_pin{
	position:absolute;
	z-index:20;
	right:0;
	top:20px;
}
