@charset "utf-8";

@import url("top.css");
@import url("bottom.css");

/*reset*/
body{
	font:normal 14px/1.5em bond,sans-serif;
	color:#333333;
	background:#ffffff;
}
a{
	color:#333333;
}
input{
	font-family:bond,sans-serif;
}

/*font*/
@font-face{
		font-family:juna;
		src:url('../font/BMJUA_ttf.ttf');
}
@font-face{
		font-family:bond;
		src:url('../font/NotoSansCJKkr-DemiLight.otf');
}
@font-face{
		font-family:bonb;
		src:url('../font/NotoSansCJKkr-Medium.otf');
}

/*main_wrap*/
#main_wrap{
	width:100%;
	height:335px;
	padding-top:160px;
	background:url(../images/menu_pop/main_bg.jpg) no-repeat top center fixed;
	background-size: 100% auto;
}
#main{
	width:350px;
	height:185px;
	margin:0 auto;
	text-align:center;
	color:#ffffff;
}
#main h4{
	background:url(../images/menu_pop/dot2.png) no-repeat 0 5px;
	width:202px;
	margin:0 auto;
	font-size:17px;
	letter-spacing:5px;
	padding-left:5px;
	margin-bottom:30px;
	opacity:0;
}
#main h2{
	font-size:47px;
	margin-bottom:33px;
	opacity:0;
}
#main p{
	background:url(../images/menu_pop/line1.png) no-repeat center top;
	padding-top:34px;
	font-size:17px;
	opacity:0;
}

/*bar*/
#bar_wrap{
	width:100%;
	height:50px;
}
#bar{
	width:500px;
	height:50px;
	margin:0 auto;
	margin-top:20px;
}
#bar li{
	float:left;
	width:100px;
	height:50px;
	text-align:center;
	line-height:50px;
}
#bar li a{
	font-size:14px;
	height:50px;
	display:inline-block;
	color:#999999;
}
#bar li a:hover{
	color:#666666;
	border-bottom:2px solid #666666;
}
#bar li .selected{
	color:#996633;
	border-bottom:2px solid #cc9966;
}

/*content_wrap*/
#content_wrap{
	width:100%;
	position:relative;
	margin-top:50px;
	margin-bottom:100px;
	padding-bottom:50px;
}

/*content*/
#content{
	width:1240px;
	margin:0 auto;
	padding-bottom:120px;
}
#content ul{
	width:1240px;
	height:295px;
}
#content ul li{
	width:295px;
	height:295px;
	background-color:#fafafa;
	margin-left:12px;
	margin-bottom:12px;
	float:left;
	position:relative;
	border:3px solid #ffffff;
}
#content ul li:first-child {
	margin-left:0px;
}
#content ul li a img{
	width:295px;
	height:295px;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
}
#content ul li:hover a img{
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
}
#content ul li.click1{
	border-color:#cc9966;
}
#content ul li #like_btn{
	position:absolute;
	width:35px;
	height:35px;
	right:15px;
	top:15px;
	z-index:99;
}
#content ul li p{
	position:absolute;
	z-index:2;
	left:15px;
	bottom:15px;
	color:#333333;
	line-height:25px;
}
#content ul li p span{
	display:block;
	font-size:16px;
	font-weight:bold;
}

/*content_view*/

.view{
	width:1233px;
	height:400px;
	background-color:#ffffff;
	margin:18px auto 10px auto;
	padding:25px 0;
	border:1px solid #cccccc;
}
.view > img{
	clear:both;
	float:left;
	width:400px;
	height:400px;
	margin-left:150px;
}
.view #img_r{
	float:right;
	width:500px;
	height:400px;
	margin-right:120px;
	text-align:left;
	position:relative;
}
#img_r img{
	position:absolute;
	right:-90px;
	top:10px;
}
#img_r h3{
	font-size:30px;
	font-weight:normal;
	margin-top:70px;
}
#img_r h3 span{
	font-size:14px;
	display:block;
	color:#cc9966;
	margin-top:15px;
}
#img_text{
	width:500px;
	background:url(../images/menu_pop/line_brown.png) repeat-x top;
	margin-top:20px;
	padding-top:20px;
	margin:20px 0 50px 0;
	color:#666666;
}
#Nutrition{
	width:500px;
	height:100px;
	color:#666666;
	/*border:1px solid green;*/
}
#Nutrition p{
	margin-bottom:10px;
}
#Nutrition caption{
	display:none;
}
#Nutrition th, #Nutrition td{
	border:1px solid #cccccc;
	width:100px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-weight:normal;
}
#Nutrition th:first-child, #Nutrition td:first-child{
	border-left:none;
}
#Nutrition th:last-child, #Nutrition td:last-child{
	border-right:none;
}

/*더보기 버튼*/
#more{
	clear:both;
	display:block;
	width:200px;
	height:50px;
	border:1px solid #cc9966;
	border-radius:100px;
	margin:0 auto;
	margin-top:50px;
	font-size:15px;
	line-height:50px;
	text-indent:40px;
	letter-spacing:2px;
	background:url(../images/event/arrow.png) no-repeat 150px center;
	cursor:pointer;
	color:#cc9966;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
}
#more:hover{
	color:#ffffff;
	background:url(../images/event/arrow_over.png) no-repeat 150px center #cc9966;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
}
